header {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 1rem;
}

#status {
  font-size: 0.8rem;
  color: var(--status-text);
}

header input[type='file'] {
  font-size: 0.8rem;
}
